/*
*,
*::after,
*::befor {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
    margin-top: 60px;
    background-color: aliceblue
}

.logo {
    margin: 2px 0 2px 20px;
}

.titel {
    margin: 5px;
    text-align: center;
    padding: 1em;
}

.pokemon-list {
    margin-left: 100px;
}

.list-group-item {
    margin-bottom: 10px;
}

/*
.listItem {
    list-style: none;
}
*/
.pokemonButton {
    border-radius: 2%;
    padding: 1em;
    border: solid 1px;
    background-color: rgb(164, 203, 237);
}

.pokemonButton::first-letter {
    text-transform: capitalize;
}

h1::first-letter {
    text-transform: capitalize;
}

p::first-letter {
    text-transform: capitalize;
}

.modal-header {
    background-color: aliceblue;
}

/*
#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    top: 150px;
    left: 400px;
    width: 50%;
    height: auto;
    background: rgb(169, 171, 168);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
    border-radius: 5%;
}

.modal {
    margin-top: 100px;
    display: inline-block;
    background: aliceblue;
    padding: 15p;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 5%;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: gray;
    text-decoration: underline;
    margin-right: 30px;
    margin-top: 10px
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}